* {
  font-family: helvetica;
  font-size: 22;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* --- header div --- */
.header {
  height: 69px;
  border-bottom: 1px solid seashell;
  /*position: fixed;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

.logo{
  max-width: 264;
}

.nav-top {

}

#nav-li{
padding-left: 10px;

}

/* --- main div --- */
  /*Our mission mission div*/

.mission{
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  }

  .h2{

  }

/*Tea of the month month div*/
.month{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 1000px;
}
.images{
  width: 300px;
}
.teamonth{
  align-self: flex-start;
}

.locations{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
}
/* --- footer div --- */
