* {
  font-family: helvetica;
  font-size: 22;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --- header div --- */
.header {
  height: 69px;
  border-bottom: 1px solid seashell;
  /*position: fixed;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

.logo{
  max-width: 264;
}

.nav-top {

}

#nav-li{
padding-left: 10px;

}

/* --- main div --- */
  /*-mission div- Our mission */

.mission{
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 1200px;
  }

  .ourMission{
    margin: 0;
    padding-top: 5px;
  }

  h4{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }


  /* -month div- Tea of the month*/
.month{
  width: 1000px;
  align-self: center;


}

      /* -headMonth div is a div of month div*/
.headMonth{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.teaMonth{
}
.stepping{
  }

     /* -contentMonth div is a div of month div*/
.contentMonth{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 1000px;
}

p{
  margin: 10px;
  text-align: center;
}
.imagesMonth{
  width: 300px;
  height: 200px;

}


   /*locations div*/
.locations{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
}
/* --- footer div --- */
