* {
  margin: 0;
  font-family: helvetica;
  font-size: 22;
  color: seashell;
  background-color: black;
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
}

.main{
  padding-left: 10px
  position: relative;
  top: 69px;
  z-index: 9;
}

/* --- header div --- */
.header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  margin: 0;
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid seashell;
}

.logo{
  max-width: 264;
}

.nav-top {

}

#nav-li{
padding-left: 10px;

}

/* --- main div --- */
  /*-mission div- Our mission */

.mission{
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  .ourMission{
    background-color: black;
    margin: 0;
    padding-top: 1px;
    align-self: center;
    width: 1200px;

  }

  h4{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
  }


  /* -month div- Tea of the month*/
.month{
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;


}

      /* -headMonth div is a div of month div*/
.headMonth{
  display: flex;
  flex-direction: column;
}
.teaMonth{
  padding-top: 50px;
}
.stepping{
  }

     /* -contentMonth div is a div of month div*/
.contentMonth{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 1000px;
  padding-left: 100px;
}

p{
  margin: 10px;
}

.imagesMonth{
  width: 300px;
  height: 200px;
  padding:10px;

}


   /*locations div*/
.locations{
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  }

.headLocation{
  opacity: 0.50;
}

.contentLocation{
  display: flex;
  justify-content: center;
  align-items: center;

}

/* --- footer div --- */
